@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.active {
  color: #FFFCF7;

  @media (min-width: 768px) {
    color: #F37748;
  }
}
